@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --body-bg: transparent;
  --border: #ddd;
  --shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
  --icon-bg: #b719eb;
}
.accordion__content {
  max-width: 570px;
  margin: 0 auto;
  padding: 2rem;
  background: transparent;
  box-shadow: var(--shadow);
  border-radius: 8px;
}
.accordion__item {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-radius: 6px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);

  background: var(--body-bg);
  margin-bottom: 0.5em;
}
.item__header {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 0.2em;
       column-gap: 0.2em;
}

.item__icon {
  margin-top: 1rem;
  flex: 0 0 25px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background: var(--icon-bg);
  cursor: pointer;
  box-shadow: var(--shadow);
}
.item__icon i {
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.item__question {
  font-size: 1em;
  line-height: 1;
  font-weight: 500;
}

.active .item__icon i {
  transform: rotate(180deg);
}

.active .item__question {
  font-weight: 500;
}

.item__content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.item__answer {
  line-height: 150%;
  opacity: 0.8;
}