
    body{
        font-family: 'Nunito', sans-serif;
        font-family: 'Rubik Moonrocks', cursive;
        background-image: url('./wavebg.svg');
        background-size: 100%;
        background-color: #fff;
    }
    .title {
        color: #fff;
        font-size: 100px;
        margin-left: 20%;
        margin-top: 15%;
    }
    .sub-title {
        color: #fff;
        font-size: 25px;
        margin-left: 42%;

    }